@import './ProfileInfo/profileInfo.css';

.profile {
  box-shadow: 1px 1px 10px rgba(82, 109, 194, 0.1);
}

.profile > .profile-share {
  display: flex;
  justify-content: center;
}

.profile {
  width: 350px;
  right: 0;
  min-height: calc(100vh - 50px);
  padding: 50px;
  position: fixed;
  z-index: 5;
}


@media (max-width: 575.98px) {
  .profile {
      display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .profile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profile {
    width: 280px;
  }
}